@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  /*background-image: url('../../public/nature.jpg') ;*/
  background-size: cover; /* Assure que l'image couvre toute la page */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fond fixe lors du défilement */

}

@layer base {
  :root {
    --radius: 0.5rem

  }

}

